.Work {
     height: 100vh;
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     background-color: rgb(255, 235, 205);

}

.Projects {
     width: 100%;
     height: 80%;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     align-items: flex-start;

}

.Project {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     width: 40%;
     padding: 1%;
     margin: 1%;
     transition: 0.3s ease-in-out;
     /* filter: drop-shadow(10px 30px 5px #0202026c); */
}

.Image {
     width: 100%;
     cursor: pointer;
     filter: drop-shadow(10px 20px 5px #0202026c);
     transition: 0.6s ease-in-out;
}

.Image:hover {
     transform: scale(1.2);
     /* transform: rotateX(500deg) */
}



.Project>a,
.ProjectText {
     text-align: center;
}

/* @media (max-width:500px) {
     .Project {
          width: 90%;
     }
} */